$primary-font: 'Roboto', sans-serfi;
$secondary-font: 'Bellota', cursive;

$primary-color: #1ba4ce;
$text-color-primary: #473452;
$button-hover-color: #30383b;


$text-color-paragraphs: #888888;
$text-color-paragraphs-head: #555555;

$container-small: 100%;
$container-large: 960px;
$container-xlarge: 1140px;

$break-point-xsmall: 480px;
$break-point-small: 576px;
$break-point-medium: 768px;
$break-point-large: 992px;
$break-point-xlarge: 1200px;
$break-point-super-large: 2100px;


